.movie-list-box {
    display: flex;
    justify-content: center;
    height: 361px;
}

.movie-list-box-link {
    text-decoration: none;
    color: white;
}

.movie-list-box-link:hover {
    text-decoration: none;
    color: grey;
}

.movie-list-box-title {
    text-align: center;
    max-width: 200px;
}

.movie-list-box-img {
    height: 300px;
    border-radius: 15px;
}