.Dropdown-root {
    position: relative;
    margin-left: 10px;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: darkred;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: default;
    outline: none;
    padding: 6.5px 35px 8px 10px;
    transition: all 200ms ease;
    height: 30px;
}

.Dropdown-control:hover {
    background-color: red;
}

.Dropdown-arrow {
    border-color: whitesmoke transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent whitesmoke;
    border-width: 0 5px 5px;
}

.Dropdown-menu {
    background-color: darkred;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-option {
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.Dropdown-option:hover {
    background-color: red;
    color: whitesmoke;
}

.Dropdown-option.is-selected {
    background-color: red;
    color: whitesmoke;
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}
