body {
    font-family: arial;
  }
  
  .flipswitch {
    position: relative;
    background: #141414;
    margin-top: 7px;
    margin-right: 1%;
    width: 220px;
    height: 40px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 17px;
    font-family: Trebuchet, Arial, sans-serif;
    cursor: pointer;
    border: 1px solid #8b0000;
  }
  
  .flipswitch:after {
    position: absolute;
    top: 5%;
    display: block;
    line-height: 32px;
    width: 45%;
    height: 90%;
    background: #8b0000;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: whitesmoke;
    border: #8b0000 1px solid;
    border-radius: 3px;
  }
  
  .flipswitch:after {
    left: 2%;
    content: "Query";
  }
  
  .flipswitch:checked:after {
    left: 53%;
    content: "Algorithm";
  }