.error-text {
    text-align: center;
}

.error-text-title {
    padding-top: 7%;
    font-size: 1000%;
}

.error-text-subtitle {
    padding-top: 1%;
    font-size: 400%;
}

.error-text-body {
    padding-top: 2%;
    white-space: pre-line;
}