.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic-multi-select {
    border: none;
    outline: none;
    padding-top: 5px;
    margin: 0 auto;
    width: 60%;
}
.select__control.css-srmejm-control {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}